<!DOCTYPE html>
<html>
<head>
  <title>Banned Words App - Home</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Masking Banned Words</a>
      </div>
    </div>
    <span class="label label-info pull-right">banned_words v0.1.0</span>
  </div>
  <div class="container">
    <div class="row">
    <div class="span7"><%= yield %></div>
    <div class="span5"><%= render "banned_words/index" %></div>
  </div>
</body>
</html>
